# Code Owners
# These users will be automatically requested for review on PRs.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @shivam96anand
