openapi: "3.0.1"
info:
  title: "Enterprise Product Inventory"
  description: "**TMF API Reference : TMF 637 - Product Inventory Management** September\
    \ 2023 The Product Inventory Management API provides standardized mechanism for\
    \ product inventory management such as creation, update and retrieval of the representation\
    \ of a product in the inventory. It also allows the notification of events related\
    \ to product lifecycle. Copyright © TM Forum 2021. All Rights Reserved"
  contact:
    name: "B2B MNC"
    url: "https://yam-united.telekom.com/pages/atk-business-logic/apps/wiki/wiki/list/view/3fac14b4-49dd-4672-8e3e-c250106beff8?currentLanguage=NONE"
    email: "DOM-API_Pulsar@mg.telekom.de"
  version: "1.1.0"
  x-api-category: "G-API"
  x-mira-capability:
  - "MIRA 2 / Product and Market Sales"
  x-standard-reference:
    x-segment:
    - "B2B"
    x-mira-capability:
    - "Product Inventory Management"
    id: "TMF637"
    version: "5.0.0"
  x-vendor: false
  x-segment:
  - "B2B"
externalDocs:
  description: "TM Forum API guidelines and Telekom API standards reference for the\
    \ Enterprise Product Inventory Management API (TMF637 v5.0.0)."
  url: "https://docs.devops.telekom.de/docs/standards-and-security/api-guidelines/"
servers:
- url: "https://gateway.telekom.de/mabu/epim/EnterpriseProductInventory/v1"
security:
- oAuth2ClientCredentials:
  - "data_admin"
  - "data_read"
  - "data_create"
  - "data_cancel"
  - "data_update"
  - "data_terminate"
tags:
- name: "product"
  description: "Operations for Product Resource"
paths:
  /product/{id}:
    get:
      tags:
      - "product"
      summary: "Retrieve a Product by ID"
      description: "Retrieve the full representation of a single Product identified\
        \ by its id. The caller must be authorised for the related party that owns\
        \ the product."
      operationId: "retrieveProduct"
      parameters:
      - name: "X-Business-Context"
        in: "header"
        description: "UUID correlator that uniquely identifies the calling business\
          \ context."
        required: false
        schema:
          maxLength: 36
          pattern: "^[0-9a-fA-F-]{36}$"
          type: "string"
          format: "uuid"
      - name: "id"
        in: "path"
        description: "Identifier of the Product to retrieve."
        required: true
        schema:
          maxLength: 256
          pattern: "^[A-Za-z0-9_.\\-]+$"
          type: "string"
      - name: "fields"
        in: "query"
        description: "Comma-separated list of attribute names to include in the response."
        required: false
        schema:
          maxLength: 4096
          pattern: "^[A-Za-z0-9_,.\\-]*$"
          type: "string"
      responses:
        "503":
          description: "Service Unavailable"
          headers:
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: "Too Many Requests"
          headers:
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            Retry-After:
              description: "The number of seconds to wait before retrying the request."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
        "400":
          description: "Bad Request"
          headers:
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Internal Server Error"
          headers:
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: "Conflict"
          headers:
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "Not Found"
          headers:
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
        "401":
          description: "Unauthorized"
          headers:
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
        "403":
          description: "Forbidden"
          headers:
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
        "200":
          description: "OK. The product matching the given id is returned."
          headers:
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              style: "simple"
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              style: "simple"
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              style: "simple"
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              style: "simple"
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ENProduct"
  /product:
    get:
      tags:
      - "product"
      summary: "List or find Product objects"
      description: "List or find Product objects matching the supplied filter criteria.\
        \ Pagination is controlled with the offset and limit query parameters; the\
        \ response carries the X-Total-Count and X-Result-Count headers, and the same\
        \ counters are duplicated in the body envelope for consumers that cannot read\
        \ response headers."
      operationId: "listProduct"
      parameters:
      - name: "relatedPartyId"
        in: "query"
        description: "Filter products by the id of one of their related parties."
        required: true
        schema:
          maxLength: 256
          pattern: "^[A-Za-z0-9_.\\-]+$"
          type: "string"
      - name: "X-Business-Context"
        in: "header"
        description: "UUID correlator that uniquely identifies the calling business\
          \ context. Echoed back in the response."
        required: false
        schema:
          maxLength: 36
          pattern: "^[0-9a-fA-F-]{36}$"
          type: "string"
          format: "uuid"
      - name: "fields"
        in: "query"
        description: "Comma-separated list of attribute names to include in the response."
        required: false
        schema:
          maxLength: 4096
          pattern: "^[A-Za-z0-9_,.\\-]*$"
          type: "string"
      - name: "offset"
        in: "query"
        description: "The index of the first item to return (0-based)."
        required: false
        schema:
          maximum: 2147483647
          minimum: 0
          type: "integer"
          format: "int32"
      - name: "limit"
        in: "query"
        description: "The maximum number of items to return in this page."
        required: false
        schema:
          maximum: 1000
          minimum: 0
          type: "integer"
          format: "int32"
      - name: "sort"
        in: "query"
        description: "Comma-separated list of attribute names to sort by. Prefix with\
          \ '-' for descending."
        required: false
        schema:
          maxLength: 256
          pattern: "^-?[A-Za-z0-9_.]+(?:,-?[A-Za-z0-9_.]+)*$|^$"
          type: "string"
          default: ""
      responses:
        "503":
          description: "Service Unavailable"
          headers:
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Error"
        "200":
          description: "OK. A page of products is returned."
          headers:
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              style: "simple"
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              style: "simple"
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              style: "simple"
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            X-Total-Count:
              description: "Total number of products matched by the query, ignoring\
                \ offset and limit."
              style: "simple"
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              style: "simple"
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            X-Result-Count:
              description: "Number of products actually returned in this page (size\
                \ of data)."
              style: "simple"
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductCollection"
        "429":
          description: "Too Many Requests"
          headers:
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            Retry-After:
              description: "The number of seconds to wait before retrying the request."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
        "400":
          description: "Bad Request"
          headers:
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Internal Server Error"
          headers:
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: "Conflict"
          headers:
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Unauthorized"
          headers:
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
        "403":
          description: "Forbidden"
          headers:
            X-Business-Context:
              description: "Echoes the X-Business-Context request header (a UUID correlator)."
              schema:
                maxLength: 36
                pattern: "^[0-9a-fA-F-]{36}$"
                type: "string"
                format: "uuid"
            RateLimit-Reset:
              description: "The number of seconds until the rate-limit window resets."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Remaining:
              description: "The number of requests remaining in the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
            RateLimit-Limit:
              description: "The maximum number of requests the consumer may make in\
                \ the current window."
              schema:
                maximum: 2147483647
                minimum: 0
                type: "integer"
                format: "int32"
components:
  schemas:
    Error:
      title: "Error"
      required:
      - "code"
      - "reason"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
          format: "uri"
        code:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Application relevant detail, defined in the API or a common\
            \ list."
        reason:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Explanation of the reason for the error which can be shown\
            \ to a client user."
        message:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "More details and corrective actions related to the error which\
            \ can be shown to a client user."
        status:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "HTTP Error code extension"
        referenceError:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "URI of documentation describing the error."
          format: "uri"
      additionalProperties: false
      description: "Used when an API throws an Error, typically with a HTTP error\
        \ response-code (3xx, 4xx, 5xx)"
    AccountRef:
      required:
      - "@type"
      - "id"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        href:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The URI of the referred entity."
        id:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The identifier of the referred entity."
        name:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Name of the referred entity."
        '@referredType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The actual type of the target instance when needed for disambiguation."
      additionalProperties: false
      description: "Account reference. A account may be a party account or a financial\
        \ account."
    AgreementItemRef:
      required:
      - "@type"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        agreementName:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Name of the related entity."
        agreementHref:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Reference of the related entity."
        '@referredType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The actual type of the target instance when needed for disambiguation."
        agreementId:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Unique identifier of a related entity."
        agreementItemId:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Id of an item of a Agreement"
      additionalProperties: false
    AgreementRef:
      required:
      - "@type"
      - "id"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        href:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The URI of the referred entity."
        id:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The identifier of the referred entity."
        name:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Name of the referred entity."
        '@referredType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The actual type of the target instance when needed for disambiguation."
      additionalProperties: false
      description: "Agreement reference. An agreement represents a contract or arrangement,\
        \ either written or verbal and sometimes enforceable by law, such as a service\
        \ level agreement or a customer price agreement. An agreement involves a number\
        \ of other business entities, such as products, services, and resources and/or\
        \ their specifications."
    Attachment:
      type: "object"
      additionalProperties: false
      allOf:
      - $ref: "#/components/schemas/AttachmentRefOrValue"
      - type: "object"
        properties:
          '@baseType':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "When sub-classing, this defines the super-class"
          '@schemaLocation':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A URI to a JSON-Schema file that defines additional attributes\
              \ and relationships"
          href:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Hyperlink reference"
          id:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "unique identifier"
          name:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "The name of the attachment"
          description:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A narrative text describing the content of the attachment"
            example: "Photograph of the Product"
          url:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Uniform Resource Locator, is a web page address (a subset\
              \ of URI)"
            example: "http://host/Content/4aafacbd-11ff-4dc8-b445-305f2215715f"
          content:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "The actual contents of the attachment object, if embedded,\
              \ encoded as base64"
          size:
            $ref: "#/components/schemas/Quantity"
          validFor:
            $ref: "#/components/schemas/TimePeriod"
          attachmentType:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "a business characterization of the purpose of the attachment,\
              \ for example logo, instructionManual, contractCopy"
          mimeType:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "a technical characterization of the attachment content format\
              \ using IETF Mime Types"
        additionalProperties: false
    AttachmentRef:
      required:
      - "id"
      type: "object"
      additionalProperties: false
      allOf:
      - $ref: "#/components/schemas/AttachmentRefOrValue"
      - type: "object"
        properties:
          '@baseType':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "When sub-classing, this defines the super-class"
          '@schemaLocation':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A URI to a JSON-Schema file that defines additional attributes\
              \ and relationships"
          href:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "The URI of the referred entity."
          id:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "The identifier of the referred entity."
          name:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Name of the referred entity."
          '@referredType':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "The actual type of the target instance when needed for disambiguation."
          description:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A narrative text describing the content of the attachment"
          url:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Link to the attachment media/content"
        additionalProperties: false
    AttachmentRefOrValue:
      required:
      - "@type"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
      additionalProperties: false
      description: "Attachments that may be of relevance to this intent, such as picture,\
        \ document, media"
      discriminator:
        propertyName: "@type"
    BillingAccountRef:
      required:
      - "@type"
      - "id"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        href:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The URI of the referred entity."
        id:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The identifier of the referred entity."
        name:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Name of the referred entity."
        '@referredType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The actual type of the target instance when needed for disambiguation."
        ratingType:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Indicates whether the account follows a specific payment option\
            \ such as prepaid or postpaid"
      additionalProperties: false
    BooleanArrayCharacteristic:
      type: "object"
      additionalProperties: false
      allOf:
      - $ref: "#/components/schemas/Characteristic"
      - type: "object"
        properties:
          value:
            maxItems: 1000
            type: "array"
            items:
              type: "boolean"
        additionalProperties: false
    BooleanCharacteristic:
      type: "object"
      additionalProperties: false
      allOf:
      - $ref: "#/components/schemas/Characteristic"
      - type: "object"
        properties:
          value:
            type: "boolean"
            description: "Value of the characteristic"
        additionalProperties: false
    BusinessPartner:
      type: "object"
      additionalProperties: false
      description: "When business partner is the BusinessPartner "
      allOf:
      - $ref: "#/components/schemas/PartyOrPartyRole"
      - type: "object"
        properties:
          '@baseType':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "When sub-classing, this defines the super-class"
          '@schemaLocation':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A URI to a JSON-Schema file that defines additional attributes\
              \ and relationships"
          href:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Hyperlink reference"
          id:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "unique identifier"
          name:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A word, term, or phrase by which the PartyRole is known\
              \ and distinguished from other PartyRoles. It's the name of the PartyRole\
              \ unique entity."
          description:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A description of the PartyRole."
          role:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Role played by the engagedParty in this context. As role\
              \ is defined by partyRoleSpecification, this role attribute can be used\
              \ to precise the role defined by partyRoleSpecification, or it can be\
              \ used to define the role in case there is no partyRoleSpecification."
          engagedParty:
            $ref: "#/components/schemas/EntityRef"
          partyRoleSpecification:
            $ref: "#/components/schemas/EntityRef"
          characteristic:
            maxItems: 1000
            type: "array"
            items:
              oneOf:
              - $ref: "#/components/schemas/Characteristic"
              - $ref: "#/components/schemas/BooleanArrayCharacteristic"
              - $ref: "#/components/schemas/BooleanCharacteristic"
              - $ref: "#/components/schemas/IntegerArrayCharacteristic"
              - $ref: "#/components/schemas/IntegerCharacteristic"
              - $ref: "#/components/schemas/NumberArrayCharacteristic"
              - $ref: "#/components/schemas/NumberCharacteristic"
              - $ref: "#/components/schemas/ObjectArrayCharacteristic"
              - $ref: "#/components/schemas/ObjectCharacteristic"
              - $ref: "#/components/schemas/StringArrayCharacteristic"
              - $ref: "#/components/schemas/StringCharacteristic"
          account:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/AccountRef"
          agreement:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/AgreementRef"
          contactMedium:
            maxItems: 1000
            type: "array"
            items:
              oneOf:
              - $ref: "#/components/schemas/ContactMedium"
              - $ref: "#/components/schemas/EmailContactMedium"
              - $ref: "#/components/schemas/PhoneContactMedium"
          paymentMethod:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/PaymentMethodRef"
          creditProfile:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/CreditProfile"
          status:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Used to track the lifecycle status of the party role."
          statusReason:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A string providing an explanation on the value of the status\
              \ lifecycle. For instance if the status is Rejected, statusReason will\
              \ provide the reason for rejection."
          validFor:
            $ref: "#/components/schemas/TimePeriod"
        additionalProperties: false
    CalendarPeriod:
      required:
      - "@type"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        day:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Day where the calendar status applies (e.g.: monday, mon-to-fri,\
            \ weekdays, weekend, all week, ...)"
        timeZone:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Indication of the timezone applicable to the calendar information\
            \ (e.g.: Paris, GMT+1)"
        hourPeriod:
          maxItems: 1000
          type: "array"
          items:
            $ref: "#/components/schemas/HourPeriod"
        status:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Indication of the availability of the calendar period (e.g.:\
            \ available, booked, etc.)"
      additionalProperties: false
    Characteristic:
      required:
      - "@type"
      type: "object"
      properties:
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        id:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Unique identifier of the characteristic"
        name:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Name of the characteristic"
        valueType:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Data type of the value of the characteristic"
        characteristicRelationship:
          maxItems: 1000
          type: "array"
          items:
            $ref: "#/components/schemas/CharacteristicRelationship"
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
      additionalProperties: false
      discriminator:
        propertyName: "@type"
    CharacteristicRelationship:
      required:
      - "@type"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        id:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Unique identifier of the characteristic"
        relationshipType:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The type of relationship"
      additionalProperties: false
    Consumer:
      type: "object"
      additionalProperties: false
      allOf:
      - $ref: "#/components/schemas/PartyOrPartyRole"
      - type: "object"
        properties:
          '@baseType':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "When sub-classing, this defines the super-class"
          '@schemaLocation':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A URI to a JSON-Schema file that defines additional attributes\
              \ and relationships"
          href:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Hyperlink reference"
          id:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "unique identifier"
          name:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A word, term, or phrase by which the PartyRole is known\
              \ and distinguished from other PartyRoles. It's the name of the PartyRole\
              \ unique entity."
          description:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A description of the PartyRole."
          role:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Role played by the engagedParty in this context. As role\
              \ is defined by partyRoleSpecification, this role attribute can be used\
              \ to precise the role defined by partyRoleSpecification, or it can be\
              \ used to define the role in case there is no partyRoleSpecification."
          engagedParty:
            $ref: "#/components/schemas/EntityRef"
          partyRoleSpecification:
            $ref: "#/components/schemas/EntityRef"
          characteristic:
            maxItems: 1000
            type: "array"
            items:
              oneOf:
              - $ref: "#/components/schemas/Characteristic"
              - $ref: "#/components/schemas/BooleanArrayCharacteristic"
              - $ref: "#/components/schemas/BooleanCharacteristic"
              - $ref: "#/components/schemas/IntegerArrayCharacteristic"
              - $ref: "#/components/schemas/IntegerCharacteristic"
              - $ref: "#/components/schemas/NumberArrayCharacteristic"
              - $ref: "#/components/schemas/NumberCharacteristic"
              - $ref: "#/components/schemas/ObjectArrayCharacteristic"
              - $ref: "#/components/schemas/ObjectCharacteristic"
              - $ref: "#/components/schemas/StringArrayCharacteristic"
              - $ref: "#/components/schemas/StringCharacteristic"
          account:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/AccountRef"
          agreement:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/AgreementRef"
          contactMedium:
            maxItems: 1000
            type: "array"
            items:
              oneOf:
              - $ref: "#/components/schemas/ContactMedium"
              - $ref: "#/components/schemas/EmailContactMedium"
              - $ref: "#/components/schemas/PhoneContactMedium"
          paymentMethod:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/PaymentMethodRef"
          creditProfile:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/CreditProfile"
          status:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Used to track the lifecycle status of the party role."
          statusReason:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A string providing an explanation on the value of the status\
              \ lifecycle. For instance if the status is Rejected, statusReason will\
              \ provide the reason for rejection."
          validFor:
            $ref: "#/components/schemas/TimePeriod"
        additionalProperties: false
    ContactMedium:
      required:
      - "@type"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        id:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Identifier for this contact medium."
        preferred:
          type: "boolean"
          description: "If true, indicates that is the preferred contact medium"
        contactType:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Type of the contact medium to qualify it like pro email /\
            \ personal email. This is not used to define the contact medium used."
        validFor:
          $ref: "#/components/schemas/TimePeriod"
      additionalProperties: false
      description: "Indicates the contact medium that could be used to contact the\
        \ party."
      discriminator:
        propertyName: "@type"
        mapping:
          ContactMedium: "#/components/schemas/ContactMedium"
          PhoneContactMedium: "#/components/schemas/PhoneContactMedium"
          EmailContactMedium: "#/components/schemas/EmailContactMedium"
    CreditProfile:
      required:
      - "@type"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        href:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Hyperlink reference"
        id:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "unique identifier"
        creditProfileDate:
          type: "string"
          description: "The date the profile was established"
          format: "date-time"
        creditRiskRating:
          maximum: 2147483647
          minimum: 0
          type: "integer"
          description: "This is an integer whose value is used to rate the risk"
          format: "int32"
        creditScore:
          maximum: 2147483647
          minimum: 0
          type: "integer"
          description: "A measure of a person or organizations creditworthiness calculated\
            \ on the basis of a combination of factors such as their income and credit\
            \ history"
          format: "int32"
        validFor:
          $ref: "#/components/schemas/TimePeriod"
      additionalProperties: false
    Disability:
      type: "object"
      properties:
        disabilityCode:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Code of the disability"
        disabilityName:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Name of the disability"
        validFor:
          $ref: "#/components/schemas/TimePeriod"
      additionalProperties: false
      description: "Lack or inadequate strength or ability."
    Duration:
      type: "object"
      properties:
        amount:
          maximum: 2147483647
          minimum: 0
          type: "integer"
          description: "Time interval (number of seconds, minutes, hours, etc.)"
          format: "int32"
        units:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Unit of time (seconds, minutes, hours, etc.)"
      additionalProperties: false
      description: "A time interval in a given unit of time"
    ENProduct:
      type: "object"
      properties:
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        href:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Hyperlink reference"
        id:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "unique identifier"
        agreementItem:
          maxItems: 1000
          type: "array"
          items:
            $ref: "#/components/schemas/AgreementItemRef"
        billingAccount:
          $ref: "#/components/schemas/BillingAccountRef"
        creationDate:
          type: "string"
          description: "Date and time when the product was created"
          format: "date-time"
        description:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Is the description of the product. It could be copied from\
            \ the description of the Product Offering."
        isBundle:
          type: "boolean"
          description: "If true, the product is a ProductBundle which is an instantiation\
            \ of a BundledProductOffering. If false, the product is a ProductComponent\
            \ which is an instantiation of a SimpleProductOffering."
        isCustomerVisible:
          type: "boolean"
          description: "If true, the product is visible by the customer."
        name:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Name of the product. It could be the same as the name of the\
            \ product offering"
        orderDate:
          type: "string"
          description: "Is the date when the product was ordered"
          format: "date-time"
        productCharacteristic:
          maxItems: 1000
          type: "array"
          items:
            oneOf:
            - $ref: "#/components/schemas/Characteristic"
            - $ref: "#/components/schemas/BooleanArrayCharacteristic"
            - $ref: "#/components/schemas/BooleanCharacteristic"
            - $ref: "#/components/schemas/IntegerArrayCharacteristic"
            - $ref: "#/components/schemas/IntegerCharacteristic"
            - $ref: "#/components/schemas/NumberArrayCharacteristic"
            - $ref: "#/components/schemas/NumberCharacteristic"
            - $ref: "#/components/schemas/ObjectArrayCharacteristic"
            - $ref: "#/components/schemas/ObjectCharacteristic"
            - $ref: "#/components/schemas/StringArrayCharacteristic"
            - $ref: "#/components/schemas/StringCharacteristic"
        productOffering:
          $ref: "#/components/schemas/ProductOfferingRef"
        productOrderItem:
          maxItems: 1000
          type: "array"
          items:
            $ref: "#/components/schemas/RelatedOrderItem"
        product:
          maxItems: 1000
          type: "array"
          items:
            oneOf:
            - $ref: "#/components/schemas/ENProduct"
            - $ref: "#/components/schemas/ProductRef"
        productPrice:
          maxItems: 1000
          type: "array"
          items:
            $ref: "#/components/schemas/ProductPrice"
        productRelationship:
          maxItems: 1000
          type: "array"
          items:
            $ref: "#/components/schemas/ProductRelationship"
        productSerialNumber:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Is the serial number for the product. This is typically applicable\
            \ to tangible products e.g. Broadband Router."
        productSpecification:
          $ref: "#/components/schemas/ProductSpecificationRef"
        productTerm:
          maxItems: 1000
          type: "array"
          items:
            $ref: "#/components/schemas/ProductTerm"
        realizingResource:
          maxItems: 1000
          type: "array"
          items:
            $ref: "#/components/schemas/ResourceRef"
        realizingService:
          maxItems: 1000
          type: "array"
          items:
            $ref: "#/components/schemas/ServiceRef"
        relatedParty:
          maxItems: 1000
          type: "array"
          items:
            $ref: "#/components/schemas/RelatedPartyOrPartyRole"
        place:
          maxItems: 1000
          type: "array"
          items:
            $ref: "#/components/schemas/RelatedPlaceRefOrValue"
        startDate:
          type: "string"
          description: "Is the date from which the product starts"
          format: "date-time"
        status:
          type: "string"
          enum:
          - "created"
          - "pendingActive"
          - "cancelled"
          - "active"
          - "pendingTerminate"
          - "terminated"
          - "suspended"
          - "aborted "
        terminationDate:
          type: "string"
          description: "Is the date when the product was terminated"
          format: "date-time"
        intent:
          oneOf:
          - $ref: "#/components/schemas/Intent"
          - $ref: "#/components/schemas/IntentRef"
        externalIdentifier:
          maxItems: 1000
          type: "array"
          items:
            $ref: "#/components/schemas/ExternalIdentifier"
      additionalProperties: false
      description: "Extension of Product that adds externalIdentifier support for\
        \ external system references."
    EmailContactMedium:
      required:
      - "@type"
      - "emailAddress"
      type: "object"
      additionalProperties: false
      description: "A contact medium that represents an email address."
      allOf:
      - $ref: "#/components/schemas/ContactMedium"
      - type: "object"
        properties:
          emailAddress:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "The email address (e.g. erika.musterfrau@telekom.de)."
            format: "email"
        additionalProperties: false
    EntityRef:
      required:
      - "@type"
      - "id"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        href:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The URI of the referred entity."
        id:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The identifier of the referred entity."
        name:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Name of the referred entity."
        '@referredType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The actual type of the target instance when needed for disambiguation."
      additionalProperties: false
    EntityRelationship:
      type: "object"
      properties:
        href:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
        name:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
        role:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The association role for this entity"
        validFor:
          $ref: "#/components/schemas/TimePeriod"
        associationSpec:
          $ref: "#/components/schemas/EntityRef"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        relationshipType:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Type of relationship such as migration, substitution, dependency,\
            \ exclusivity"
        id:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
        '@referredType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
      additionalProperties: false
      description: "A uni-directional relationship from this entity to a target entity\
        \ instance"
    Expression:
      required:
      - "@type"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        expressionLanguage:
          type: "string"
          enum:
          - "Turtle"
          - "JSON-LD"
          - "RDF-XML"
          - "Other"
        iri:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Internationalized Resource Identifier of the intent Expression"
        expressionValue:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "expression value is the ontology-encoded form of the Intent\
            \ such as RDF-XML, Turtle, Json-LD,..."
      additionalProperties: false
    ExternalIdentifier:
      required:
      - "@type"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        owner:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Name of the external system that owns the entity."
          example: "MagentoCommerce"
        externalIdentifierType:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Type of the identification, typically would be the type of\
            \ the entity within the external system"
          example: "ProductOrder"
        id:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "identification of the entity within the external system."
      additionalProperties: false
      description: "List of external identifiers associated with this product, e.g.\
        \ identifiers from external billing or provisioning systems."
    GeographicAddress:
      type: "object"
      additionalProperties: false
      allOf:
      - $ref: "#/components/schemas/PlaceRefOrValue"
      - type: "object"
        properties:
          '@baseType':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "When sub-classing, this defines the super-class"
          '@schemaLocation':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A URI to a JSON-Schema file that defines additional attributes\
              \ and relationships"
          href:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Hyperlink reference"
          id:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "unique identifier"
          city:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "City that the address is in"
          country:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Country that the address is in"
          locality:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "An area of defined or undefined boundaries within a local\
              \ authority or other legislatively defined area, usually rural or semi\
              \ rural in nature. [ANZLIC-STREET], or a suburb, a bounded locality\
              \ within a city, town or shire principally of urban character [ANZLICSTREET]"
          postcode:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "descriptor for a postal delivery area, used to speed and\
              \ simplify the delivery of mail (also know as zipcode)"
          stateOrProvince:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "the State or Province that the address is in"
          streetName:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Name of the street or other street type"
          streetNr:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Number identifying a specific property on a public street.\
              \ It may be combined with streetNrLast for ranged addresses"
          streetNrLast:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Last number in a range of street numbers allocated to a\
              \ property"
          streetNrLastSuffix:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Last street number suffix for a ranged address"
          streetNrSuffix:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "the first street number suffix"
          streetSuffix:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A modifier denoting a relative direction"
          streetType:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "alley, avenue, boulevard, brae, crescent, drive, highway,\
              \ lane, terrace, parade, place, tarn, way, wharf"
          countryCode:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/StandardIdentifier"
          externalIdentifier:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/ExternalIdentifier"
          geographicLocation:
            oneOf:
            - $ref: "#/components/schemas/GeographicLocation"
            - $ref: "#/components/schemas/GeographicLocationRef"
          geographicSubAddress:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/GeographicSubAddress"
          geographicAddressType:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Classification of the address, e.g., residential, industrial "
        additionalProperties: false
    GeographicLocation:
      type: "object"
      additionalProperties: false
      allOf:
      - $ref: "#/components/schemas/GeographicLocationRefOrValue"
      - type: "object"
        properties:
          '@baseType':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "When sub-classing, this defines the super-class"
          '@schemaLocation':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A URI to a JSON-Schema file that defines additional attributes\
              \ and relationships"
          href:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "An URI used to access to the geographic location resource"
          id:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Unique identifier of the geographic location"
          bbox:
            maxItems: 1000
            type: "array"
            items:
              maximum: 1000000000000
              minimum: 0
              type: "number"
              description: "A bounding box array that contains the geometry. The axes\
                \ order follows the axes order of the geometry"
        additionalProperties: false
      - $ref: "#/components/schemas/PlaceRefOrValue"
    GeographicLocationRef:
      required:
      - "id"
      type: "object"
      additionalProperties: false
      allOf:
      - $ref: "#/components/schemas/GeographicLocationRefOrValue"
      - type: "object"
        properties:
          '@baseType':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "When sub-classing, this defines the super-class"
          '@schemaLocation':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A URI to a JSON-Schema file that defines additional attributes\
              \ and relationships"
          href:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "The URI of the referred entity."
          id:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "The identifier of the referred entity."
          name:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Name of the referred entity."
          '@referredType':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "The actual type of the target instance when needed for disambiguation."
        additionalProperties: false
    GeographicLocationRefOrValue:
      required:
      - "@type"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
      additionalProperties: false
      discriminator:
        propertyName: "@type"
    GeographicSite:
      type: "object"
      additionalProperties: false
      allOf:
      - $ref: "#/components/schemas/PlaceRefOrValue"
      - type: "object"
        properties:
          '@baseType':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "When sub-classing, this defines the super-class"
          '@schemaLocation':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A URI to a JSON-Schema file that defines additional attributes\
              \ and relationships"
          href:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Hyperlink reference"
          id:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "unique identifier"
          code:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A code that may be used for some addressing schemes eg:\
              \ [ANSI T1.253-1999]"
          creationDate:
            type: "string"
            description: "Date and time when the GeographicSite was created"
            format: "date-time"
          description:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Text describing additional information regarding the site"
          status:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "The condition of the GeographicSite, such as planned, underConstruction,\
              \ cancelled, active, inactive, former"
          relatedParty:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/RelatedPartyOrPartyRole"
          externalIdentifier:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/ExternalIdentifier"
          calendar:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/CalendarPeriod"
          place:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/PlaceRefOrValue"
          siteRelationship:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/GeographicSiteRelationship"
        additionalProperties: false
    GeographicSiteRelationship:
      required:
      - "@type"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        href:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Reference of the related geographic site"
        role:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Role of the related site in the relationship"
        validFor:
          $ref: "#/components/schemas/TimePeriod"
        id:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Unique identifier of the related site entity within the server"
        relationshipType:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Type of relationship"
      additionalProperties: false
    GeographicSubAddress:
      required:
      - "@type"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        href:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Link to the subAddress"
        id:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Unique Identifier of the subAddress"
        buildingName:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "allows for buildings that have well-known names"
        levelNumber:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "used where a level type may be repeated e.g. BASEMENT 1, BASEMENT\
            \ 2"
        levelType:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "describes level types within a building"
        name:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Name of the subAddress to identify it with a meaningful identification"
        privateStreetName:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "private streets internal to a property (e.g. a university)\
            \ may have internal names that are not recorded by the land title office."
        privateStreetNumber:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "private streets numbers internal to a private street"
        subUnit:
          maxItems: 1000
          type: "array"
          items:
            $ref: "#/components/schemas/GeographicSubAddressUnit"
        subAddressType:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Type of subAddress : it can be a subunit or a private street"
      additionalProperties: false
    GeographicSubAddressUnit:
      required:
      - "@type"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        subUnitNumber:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The discriminator used for the subunit, often just a simple\
            \ number but may also be a range."
        subUnitType:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The type of subunit e.g.BERTH, FLAT, PIER, SUITE, SHOP, TOWER,\
            \ UNIT, WHARF, RACK"
      additionalProperties: false
      description: "Representation of a SubUnit. It is used for describing subunit\
        \ within a subAddress e.g. BERTH, FLAT, PIER, SUITE, SHOP, TOWER, UNIT, WHARF."
    HourPeriod:
      required:
      - "@type"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        endHour:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The time when the status ends applying"
        startHour:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "The time when the status starts applying"
      additionalProperties: false
    Individual:
      type: "object"
      additionalProperties: false
      allOf:
      - $ref: "#/components/schemas/PartyOrPartyRole"
      - type: "object"
        properties:
          '@baseType':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "When sub-classing, this defines the super-class"
          '@schemaLocation':
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A URI to a JSON-Schema file that defines additional attributes\
              \ and relationships"
          href:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Hyperlink reference"
          id:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "unique identifier"
          externalReference:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/ExternalIdentifier"
          partyCharacteristic:
            maxItems: 1000
            type: "array"
            items:
              oneOf:
              - $ref: "#/components/schemas/Characteristic"
              - $ref: "#/components/schemas/BooleanArrayCharacteristic"
              - $ref: "#/components/schemas/BooleanCharacteristic"
              - $ref: "#/components/schemas/IntegerArrayCharacteristic"
              - $ref: "#/components/schemas/IntegerCharacteristic"
              - $ref: "#/components/schemas/NumberArrayCharacteristic"
              - $ref: "#/components/schemas/NumberCharacteristic"
              - $ref: "#/components/schemas/ObjectArrayCharacteristic"
              - $ref: "#/components/schemas/ObjectCharacteristic"
              - $ref: "#/components/schemas/StringArrayCharacteristic"
              - $ref: "#/components/schemas/StringCharacteristic"
          taxExemptionCertificate:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/TaxExemptionCertificate"
          creditRating:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/PartyCreditProfile"
          relatedParty:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/RelatedPartyOrPartyRole"
          contactMedium:
            maxItems: 1000
            type: "array"
            items:
              oneOf:
              - $ref: "#/components/schemas/ContactMedium"
              - $ref: "#/components/schemas/EmailContactMedium"
              - $ref: "#/components/schemas/PhoneContactMedium"
          gender:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Gender"
          placeOfBirth:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Reference to the place where the individual was born"
          countryOfBirth:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Country where the individual was born"
          nationality:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Nationality"
          maritalStatus:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Marital status (married, divorced, widow ...)"
          birthDate:
            type: "string"
            description: "Birth date"
            format: "date-time"
          deathDate:
            type: "string"
            description: "Date of death"
            format: "date-time"
          title:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Useful for titles (aristocratic, social,...) Pr, Dr, Sir,\
              \ ..."
          aristocraticTitle:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "e.g. Baron, Graf, Earl"
          generation:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "e.g.. Sr, Jr, III (the third)"
          preferredGivenName:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Contains the chosen name by which the individual prefers\
              \ to be addressed. Note: This name may be a name other than a given\
              \ name, such as a nickname"
          familyNamePrefix:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Family name prefix"
          legalName:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Legal name or birth name (name one has for official purposes)"
          middleName:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Middles name or initial"
          name:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Full name flatten (first, middle, and last names) - this\
              \ is the name that is expected to be presented in reference data types\
              \ such as PartyRef, RelatedParty, etc. that refer to Individual"
          formattedName:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "A fully formatted name in one string with all of its pieces\
              \ in their proper place and all of the necessary punctuation. Useful\
              \ for specific contexts (Chinese, Japanese, Korean)"
          location:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Temporary current location of the individual (may be used\
              \ if the individual has approved its sharing)"
          status:
            type: "string"
            enum:
            - "initialized"
            - "validated"
            - "deceased"
          otherName:
            maxItems: 1000
            type: "array"
            description: "List of other names by which this individual is known"
            items:
              $ref: "#/components/schemas/OtherNameIndividual"
          individualIdentification:
            maxItems: 1000
            type: "array"
            items:
              $ref: "#/components/schemas/IndividualIdentification"
          disability:
            maxItems: 1000
            type: "array"
            description: "List of disabilities suffered by the individual"
            items:
              $ref: "#/components/schemas/Disability"
          languageAbility:
            maxItems: 1000
            type: "array"
            description: "List of national languages known by the individual"
            items:
              $ref: "#/components/schemas/LanguageAbility"
          skill:
            maxItems: 1000
            type: "array"
            description: "List of skills exhibited by the individual"
            items:
              $ref: "#/components/schemas/Skill"
          familyName:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "Contains the non-chosen or inherited name. Also known as\
              \ last name in the Western context"
          givenName:
            maxLength: 256
            pattern: "^[\\s\\S]*$"
            type: "string"
            description: "First name of the individual"
        additionalProperties: false
    IndividualIdentification:
      required:
      - "@type"
      type: "object"
      properties:
        '@type':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the sub-class Extensible name"
        '@baseType':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "When sub-classing, this defines the super-class"
        '@schemaLocation':
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "A URI to a JSON-Schema file that defines additional attributes\
            \ and relationships"
        identificationId:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Identifier"
        issuingAuthority:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Authority which has issued the identifier, such as: social\
            \ security, town hall"
        issuingDate:
          type: "string"
          description: "Date at which the identifier was issued"
          format: "date-time"
        identificationType:
          maxLength: 256
          pattern: "^[\\s\\S]*$"
          type: "string"
          description: "Identification type (passport, national identity card, drivers\
            \ license, social security number, birth certificate)"
        validFor:
          $ref: "#/components/schemas/TimePeriod"
        attachment:
          oneOf:
          - $ref: "#/components/schemas/Attachment"
          - $ref: "#/components/schemas/AttachmentRef"
      additionalProperties: false
      description: "List of official identifications issued to the individual, such\
        \ as passport, driving licence, social security number"
    IntegerArrayCharacteristic:
      type: "object"
      additionalProperties: false
      allOf:
      - $ref: "#/components/schemas/Characteristic"
      - type: "object"
        properties:
          value:
            maxItems: 1000
            type: "array"
            items:
              maximum: 2147483647
              minimum: 0
              type: "integer"
              format: "int32"
        additionalProperties: false
    IntegerCharacteristic:
      type: "object"
      additionalProperties: false
      allOf:
      - $ref: "#/components/schemas/Characteristic"
      - type: "object"
        properties:
          value:
            maximum: 2147483647
            minimum: 0
            type: "integer"
            description: "Value of the characteristic"
            format: "int32"
        additionalProperties: false
    Intent:
      type: "object"
      additionalProperties: false
      allOf:
      - $ref: "#/components/schemas/IntentRefOrValue"
      - type: "object"
        properties:
          '@baseType':
            maxLength: 256
[...]
